/* to display text in front of the aframe canvas*/
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  transition: opacity 0.5s ease;
  opacity: 1;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#loading-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: 0.3s ease-in-out;
}

#greeting, #made-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  transition: 0.3s ease-in-out;
  animation: fadeIn ease 3s; /* This line applies the animation */
  -webkit-animation: fadeIn ease 3s; /* Support for Safari and Chrome */
  -moz-animation: fadeIn ease 3s; /* Support for Firefox */
  -o-animation: fadeIn ease 3s; /* Support for Opera */
  -ms-animation: fadeIn ease 3s; /* Support for Internet Explorer */
  visibility: visible !important;
}

.info-bubble {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


#logo {
  width: 25%;
  max-width: 300px;
  margin-bottom: 20px;
  transition: 0.3s ease-out;
  animation: fadeIn ease 3s; /* This line applies the animation */
  -webkit-animation: fadeIn ease 3s; /* Support for Safari and Chrome */
  -moz-animation: fadeIn ease 3s; /* Support for Firefox */
  -o-animation: fadeIn ease 3s; /* Support for Opera */
  -ms-animation: fadeIn ease 3s; /* Support for Internet Explorer */
  visibility: visible !important;
}

#tdc {
  width: 40%;
  max-width: 300px;
  margin-bottom: 20px;
  transition: 0.3s ease-out;
  animation: fadeIn ease 3s; /* This line applies the animation */
  -webkit-animation: fadeIn ease 3s; /* Support for Safari and Chrome */
  -moz-animation: fadeIn ease 3s; /* Support for Firefox */
  -o-animation: fadeIn ease 3s; /* Support for Opera */
  -ms-animation: fadeIn ease 3s; /* Support for Internet Explorer */
  visibility: visible !important;
}

#loading-screen p {
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

#progress-bar-container {
  width: 70%;
  height: 30px;
  background: #333;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  animation: fadeIn ease 3s; /* This line applies the animation */
  -webkit-animation: fadeIn ease 3s; /* Support for Safari and Chrome */
  -moz-animation: fadeIn ease 3s; /* Support for Firefox */
  -o-animation: fadeIn ease 3s; /* Support for Opera */
  -ms-animation: fadeIn ease 3s; /* Support for Internet Explorer */
  visibility: visible !important;
}

#progress-bar {
  height: 100%;
  width: 0;
  background: #C8CCCE;
  transition: width 0.4s ease-in-out;
}


.scene-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.color-options {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.color-options {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 55px; /* the width of the tab */
  height: 330px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.color-options:hover {
  width: 55px; /* the width of the expanded sidebar */
}

.color-options button {
  display: block;
  width: 100%;
  height: 55px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  color: #FFF;
}

.color-options button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.color-option[data-color="#F00"] {
  background-color: #F00;
}

.color-option[data-color="#0F0"] {
  background-color: #0F0;
}

.color-option[data-color="#00F"] {
  background-color: #00F;
}

.color-option[data-color="#FFF"] {
  background-color: #FFF;
}

.color-option[data-color="#000"] {
  background-color: #000;
}

.color-option[data-color="#d3b62c"] {
  background-color: #d3b62c;
}

#switch-button {
  position: fixed;
  bottom: 0;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

#switch-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Animations */

/* The actual animation */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Safari and Chrome */
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Firefox */
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Opera */
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Media Query */
@media screen and (max-width: 600px) {
  #color-options {
    width: 60px;
    height: 50%;
      /* add other styles for smaller screens here */
  }

  #color-options:hover {
    transform: none;
  }
}